@use "../utils/" as u;
@use "../globals/" as g;
@use "../globals/colors" as c;
@use "../globals/typography" as ty;

@include u.breakpoint(small) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.grid-flow {
  display: grid;
  align-content: start;
  gap: 1rem;
}
.grid-flow[data-spacing="large"] {
  gap: 2rem;
}
.section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}

.continue-btn {
  color: var(--clr-neutral-100);
  line-height: 1;
  background: var(--clr-neutral-700);
  padding: 1rem 2rem;
  border: 0;
  border-radius: 100vw;
  cursor: pointer;
}

.continue-btn:hover,
.continue-btn:focus-visible {
  background: var(--gradient-primary);
}

.results-summary {
  --padding: 2.5rem;
  --border-radius: 2rem;
  max-width: 46rem;
  display: grid;
}

@include u.breakpoint(small) {
  .results-summary {
    margin-inline: 1rem;
    grid-template-columns: 1fr 1fr;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0.5rem 1rem 3rem hsl(var(--clr-neutral-hsl-700), 0.2);
  }
}

.results {
  color: hsl(var(--clr-neutral-hsl-100), 0.7);
  text-align: center;
  padding: var(--padding) calc(var(--padding) * 1.5);
  background: var(--gradient-primary);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

@media (min-width: 600px) {
  .results {
    border-radius: var(--border-radius);
  }
}

.results-score {
  display: grid;
  place-content: center;
  width: 12rem;
  margin-inline: auto;
  background: var(--gradient-to-transparent);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.results-score span {
  display: block;
  font-size: var(--fs-900);
  font-weight: var(--fw-black);
  line-height: 1;
  color: var(--clr-neutral-100);
}

.results-rank {
  color: var(--clr-neutral-100);
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

.summary {
  padding: var(--padding);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--item-color), 0.1);
}

.summary-item svg {
  stroke: hsl(var(--item-color));
}

.summary-item-title {
  color: hsl(var(--item-color));
  font-weight: var(--fw-bold);
}

.summary-item[data-item-type="accent-1"] {
  --item-color: var(--clr-accent-1);
}
.summary-item[data-item-type="accent-2"] {
  --item-color: var(--clr-accent-2);
}
.summary-item[data-item-type="accent-3"] {
  --item-color: var(--clr-accent-3);
}
.summary-item[data-item-type="accent-4"] {
  --item-color: var(--clr-accent-4);
}

.summary-score {
  font-weight: var(--fw-black);
  color: hsl(var(--clr-neutral-hsl-700), 0.5);
}

.summary-score span {
  color: var(--clr-neutral-700);
}
